[Unit]
 Description=/opt/rc.local Compatibility
 ConditionPathExists=/opt/rc.local

[Service]
 Type=forking
 ExecStart=/opt/rc.local start
 TimeoutSec=0
 StandardOutput=tty
 RemainAfterExit=yes
 SysVStartPriority=99

[Install]
 WantedBy=multi-user.target
